<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    <link href="https://samueljesusdev.github.io/home-page-bootstrap-vue/css/style.css" rel="stylesheet">
    <script src="https://samueljesusdev.github.io/home-page-bootstrap-vue/script.js"></script>
   <link href="https://samueljesusdev.github.io/home-page-bootstrap-vue/cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <!-- header -->
        <div id="header">
            <div class="container ">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <a class="navbar-brand" href="#"><img src="./assets/logo.svg" class="img-fluid" /></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Página principal</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Serviços</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Portfólio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contato</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- //header -->
        <!-- slider -->
        <div class="slider block">
            <div class="container">
                <div class="row ">
                    <div class="col-md-4 align-self-center">
                        <h1>LOREM IPSUN
                            DOLOR AONDEA
                        </h1>
                        <p class="mb-4">ET SUMI KAPA NAMUR AONDEAI ROCUS POCUS</p>
                        <button type="button"
                            class="btn btn-primary button button-primary d-md-inline-block d-block mb-md-0 mb-2 mr-md-2">Saiba
                            mais</button>
                        <button type="button"
                            class="btn btn-outline-danger button button-secondary d-md-inline-block d-block">Contato</button>
                    </div>
                    <div class="col-md-8 align-self-center text-center">
                        <img src="./assets/slider.svg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
        <!-- //slider -->
        <!-- about -->
        <div class="about block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center text-center order-md-1 order-2">
                        <img src="./assets/sobre.svg" class="img-fluid" />
                    </div>
                    <div class="col-md-6 align-self-center mb-md-0 mb-4 order-md-2 order-1">
                        <h2>AT VERO EOS ET
                            ACCUSAMUS ET IUSTO
                        </h2>
                        <h4 class="subtitle">
                            Sed ut perspiciatis unde omnis iste natus error
                            sit voluptatem accusantium doloremque
                        </h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur.
                        </p>
                        <button type="button" class="btn btn-primary button button-primary ">Saiba mais</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- //about -->
        <!-- Serviços -->
        <div class="works pt-5 block">
            <div class="container">
                <h2> Nossos Serviços</h2>
                <h4 class="subtitle mb-4"> sumi kapa namur aondei rocus pocus</h4>
                <div class="row card-main">
                    <div class=" col-lg-3 col-md-6 m-b4 mb-lg-0 ">
                        <div class="card">
                            <div class="img-container mb-3">
                                <img src="./assets/destaque1.svg" class="card-img-top" alt="...">
                            </div>
                            <h5 class="card-title">ET SUMI KAPO</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content.
                            </p>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 m-b4 mb-lg-0 ">
                        <div class="card mb-md-4">
                            <div class="img-container mb-3">
                                <img src="./assets/destaque2.svg" class="card-img-top img-fluid" alt="...">
                            </div>
                            <h5 class="card-title">ET SUMI KAPO</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content.
                            </p>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 m-b4 mb-lg-0 ">
                        <div class="card">
                            <div class="img-container mb-3">
                                <img src="./assets/destaque3.svg" class="card-img-top img-fluid" alt="...">
                            </div>
                            <h5 class="card-title">ET SUMI KAPO</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content.
                            </p>
                        </div>
                    </div>
                    <div class=" col-lg-3 col-md-6 m-b4 mb-lg-0 ">
                        <div class="card">
                            <div class="img-container mb-3">
                                <img src="./assets/destaque4.svg" class="card-img-top img-fluid" alt="...">
                            </div>
                            <h5 class="card-title">ET SUMI KAPO</h5>
                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk
                                of the card's content.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //Serviços -->
        <!-- clientes -->
        <div class="client block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 align-self-center p-5">
                        <div class="row">
                            <div class="col-md-4 col-6 mb-4 ">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo1.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo2.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo3.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo4.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo5.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo6.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo7.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo8.svg" class="img-fluid" />
                                </a>
                            </div>
                            <div class="col-md-4 col-6 mb-4">
                                <a href="#" class="link-cliente">
                                    <img src="assets/clientes/logo9.svg" class="img-fluid" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center ">
                        <div class="client-text ml-5">
                            <div class="picture">
                                <img src="./assets/clientes-img.svg" class="img-fluid" />
                                <div class="pl-md-0 pl-3 d-inline-block">
                                    <span>10</span>
                                    <p>Anos de Experiência</p>
                                </div>
                            </div>
                            <div class="phone">
                                <img src="./assets/phone.svg" class="img-fluid" />
                                <div class="pl-3">
                                    <span>(11) 9999-9999</span>
                                    <p>Atendimento de segunda a sexta, das 7h as 18h</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //clientes -->
        <!-- gallery -->
        <div class="container">
            <h3 class="text-center"><strong>NOSSOS SERVIÇOS</strong></h3>
            <h5 class="text-center pb-4">Et sumi kapa namur aondeai rocus pocus</h5>
            <nav class="nav">
                <label><input type="radio" v-model="category" value="">TODOS</label>
                <label><input class="p-2" type="radio" v-model="category" value="web">WEBSITE</label>
                <label><input class="p-2" type="radio" v-model="category" value="email">EMAIL</label>
                <label><input class="p-2" type="radio" v-model="category" value="apps">APPS</label>
                <label><input class="p-2" type="radio" v-model="category" value="graficos">GRÁFICOS</label>
            </nav>
            <div class="container d-flex flex-wrap imagens">
                <div class="col-6 col-md-4" v-for="(image, index) in filterByCategory" :key="image.index">
                    <div class="card bg-none p-2 border-0">
                        <img :src="image.src" alt="">
                        <h6 class="pt-3">LOREM IPSUN</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- //gallery -->
        <!-- depoimentos -->
        <div class="depositions block">
            <div class="container">
                <div class="col">
                    <h2 class="text-center">DEPOIMENTOS</h2>
                    <h5 class="text-center subtitle mb-4">Et sumi kapa namur aondeia rocus pocus</h5>
                    <carousel :pagination-enabled="true" :per-page="1" :loop="true" :speed="900"
                        :adjustable-height="true">
                        <slide class="d-flex py-5">
                            <div class="row ">
                                <div class=" col-md-6 align-self-center">
                                    <div class="card-dep">
                                        <img src="./assets/user.svg" class="img-fluid " />
                                        <div class="dep-text pl-3">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sitSed ut perspiciatis
                                                unde
                                                omnis
                                                iste
                                                natus error sit
                                                voluptatem accusantium dolorem que laudantium,voluptatem accusantium
                                                dolorem
                                                que
                                                laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo inventoretotam rem aperiam,
                                                eaque
                                                ipsa
                                                quae
                                                ab illo inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt.
                                            </p>
                                            <p>Maikel Neris <span class="subtitle">/ Diretor da Decode Web</p></span>
                                            <img src="./assets/quote.svg" class="quote float-end" />
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6 align-self-center">
                                    <div class="card-dep">
                                        <img src="./assets/user.svg" class="img-fluid " />
                                        <div class="dep-text pl">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sitSed ut perspiciatis
                                                unde
                                                omnis
                                                iste
                                                natus error sit
                                                voluptatem accusantium dolorem que laudantium,voluptatem accusantium
                                                dolorem
                                                que
                                                laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo inventoretotam rem aperiam,
                                                eaque
                                                ipsa
                                                quae
                                                ab illo inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt.
                                            </p>
                                            <p>Maikel Neris <span class="subtitle">/ Diretor da Decode Web</p></span>
                                            <img src="./assets/quote.svg" class="quote float-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slide>
                        <slide class="d-flex py-5">
                            <div class="row ">
                                <div class=" col-md-6 align-self-center">
                                    <div class="card-dep">
                                        <img src="./assets/user.svg" class="img-fluid " />
                                        <div class="dep-text pl-3">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sitSed ut
                                                perspiciatis unde
                                                omnis
                                                iste
                                                natus error sit
                                                voluptatem accusantium dolorem que laudantium,voluptatem accusantium
                                                dolorem
                                                que
                                                laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo inventoretotam rem
                                                aperiam, eaque
                                                ipsa
                                                quae
                                                ab illo inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt.
                                            </p>
                                            <p>Maikel Neris <span class="subtitle">/ Diretor da Decode Web</p>
                                            </span>
                                            <img src="./assets/quote.svg" class="quote float-end" />
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-md-6 align-self-center">
                                    <div class="card-dep">
                                        <img src="./assets/user.svg" class="img-fluid " />
                                        <div class="dep-text pl">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sitSed ut
                                                perspiciatis unde
                                                omnis
                                                iste
                                                natus error sit
                                                voluptatem accusantium dolorem que laudantium,voluptatem accusantium
                                                dolorem
                                                que
                                                laudantium,
                                                totam rem aperiam, eaque ipsa quae ab illo inventoretotam rem
                                                aperiam, eaque
                                                ipsa
                                                quae
                                                ab illo inventore
                                                veritatis et quasi architecto beatae vitae dicta sunt.
                                            </p>
                                            <p>Maikel Neris <span class="subtitle">/ Diretor da Decode Web</p>
                                            </span>
                                            <img src="./assets/quote.svg" class="quote float-end" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <!-- //depoimentos -->
        <!-- footer -->
        <div class="footer ">
            <div class="container">
                <div class="col email d-flex-column block">
                    <img src="./assets/paperplane.svg" class="img-fluid" />
                    <h2>FIQUE POR DENTRO DAS NOVIDADES</h2>
                    <h5 class="subtitle ">Et sumi kapa namur aondeai rocus pocus est talaraum</h5>
                    <form class="d-flex justify-content-lg-center ">
                        <div class=" email-form flex-md-grow-1 mr-5">
                            <input type="email" class="form-control w-100 " placeholder="seu email">
                        </div>
                        <div class="flex-grow-1">
                            <button type="submit" class="btn btn-light mb-3 p-2 p-md-0 p-lg-2">Cadastre-se</button>
                        </div>
                    </form>
                </div>
                <div class=" end col d-flex  pb-4">
                    <div class="col">
                        <img src="./assets/logo.svg" class="img-fluid" />
                    </div>
                    <div class="col networks d-flex justify-content-end">
                        <img src="./assets/facebook.svg" class="img-fluid" />
                        <img src="./assets/twitter.svg" class="img-fluid" />
                        <img src="./assets/instagram.svg" class="img-fluid" />
                        <img src="./assets/linkedin.svg" class="img-fluid" />
                        <img src="./assets/youtube.svg" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //footer -->
    <script src="https://ssense.github.io/vue-carousel/js/vue-carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="./script.js"></script>
</body>

</html>
